
<jce-spinner [visible] = "isLoading"> </jce-spinner>

<div>
  <h3>Users list:</h3>
  <table class="table table-bordered table-hover" style="width:20%">
    <tr>
      <th>
        Name:
      </th>
      <th>
        Email:
      </th>
    </tr>
    <tr *ngFor="let user of users" 
    [class.active]="currentUser == user"
    (click)="select(user)" >
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
    </tr>
  </table>
</div>

<jce-user-form (userAddedEvent)= "addUser($event)"></jce-user-form>
