<h1>
  {{title}}
</h1>
<!--jce-users>loading...</jce-users-->
<!--jce-posts>loading...</jce-posts-->
<nav>
<a routerLink = '/users'>Users</a> |
<a routerLink = '/posts'>Posts</a>
</nav>

<router-outlet></router-outlet>