
<span *ngIf = "!isEdit" >
    Title: {{post.id}},
    <br>
    Content: {{post.title}},
    <br> 
    Author: {{post.body}} </span>
<span *ngIf = "isEdit" >
    Title: <input type="text" [(ngModel)] = "post.id">
    Content: <input type="text" [(ngModel)] = "post.title">
    Author: <input type="text" [(ngModel)] = "post.body"></span> 
<button (click) = "sendDelete()"> Delete </button>
<!--button (click) = "toggleEdit()">{{editButtonText}} </button-->
<!--button *ngIf = "!isEdit" (click) = "sendDelete()"> Delete </button-->
<button (click) = "toggleEdit()">{{editButtonText}} </button>
<!--button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button--> 
