
<jce-spinner [visible] = "isLoading"> </jce-spinner>

<div>
  <h3>Posts list:</h3>
  <ul class="list-group posts">
  <li *ngFor="let post of posts" class="list-group-item" 
    [class.active]="currentPost == post"
    (click) = "select(post)">
    <jce-post [post] = "post"
    (deleteEvent) = "deletePost($event)"
     (editEvent)="updatePost($event)"></jce-post>

    <ul>  
           <li *ngFor = "let user of post.userName">
            {{(user | async)?.name}}
            {{(user | async)?.email}}
          </li> 
        </ul>
      </li>



  </ul>
</div>

<jce-post-form (postAddedEvent)= "addPost($event)"></jce-post-form>